@charset "UTF-8";
.width720 {
  width: 720px;
  margin: 0 auto;
  text-align: center; }

.width1090 {
  width: 1090px;
  margin: 0 auto; }

.width1200 {
  width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff") format("woff"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal; }

.header {
  background: #fff; }

.header_top {
  line-height: 36px;
  color: #8c8c8c;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #f5f5f5; }

.h_t_l {
  float: left; }

.h_t_l a, .h_t_l span {
  display: inline-block;
  vertical-align: middle;
  color: #999; }

.a_login {
  padding: 0 10px 0 20px; }

.a_reg {
  padding-left: 8px; }

.h_t_r {
  float: right; }

.h_t_r li {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative; }

.h_t_r a {
  padding: 0 10px;
  border-right: 1px solid #dfdfdf;
  color: #999; }

.h_t_r li i {
  background: url(../img/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  display: inline-block; }

.h_t_r li b {
  background: url(../img/icon_list.png) no-repeat scroll -157px -696px;
  height: 6px;
  width: 10px;
  margin-left: 5px;
  display: inline-block; }

.cart_top {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #e6e6e5; }
.cart_top .box_center {
  margin-top: 30px;
  margin-bottom: 19px; }
.cart_top .box_center .logo {
  float: left;
  width: 74px;
  margin-right: 7px; }
.cart_top .box_center .plan {
  float: right;
  position: relative;
  margin-top: 19px;
  z-index: 3; }
.cart_top .box_center .plan div {
  background: url(../img/order_icon_list.png) no-repeat 0 0;
  height: 42px;
  margin-top: 40px;
  width: 415px; }

.shop_title {
  margin-top: 20px;
  border: 1px solid #dadada;
  background-color: #efefef;
  font-family: "宋体";
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  width: 100%; }
.shop_title .cart_checkbox {
  float: left;
  padding-left: 12px;
  width: 510px; }
.shop_title .cart_checkbox label {
  vertical-align: middle; }
.shop_title .cart_checkbox .shop_name {
  padding-left: 100px; }
.shop_title .col {
  float: left;
  font-family: 宋体;
  text-align: center; }
.shop_title .unit_price {
  width: 165px;
  text-align: center; }
.shop_title .quantity {
  width: 115px;
  padding: 0 50px; }
.shop_title .sum {
  width: 150px; }
.shop_title .del {
  width: 95px; }

.cart_checkbox span {
  color: #000;
  display: inline-block;
  font-family: "宋体";
  font-size: 12px;
  line-height: 35px;
  padding-left: 4px; }

.shop_list {
  margin-bottom: 20px;
  float: left; }

.shop_h2 {
  padding: 19px 0 10px 12px;
  border-bottom: 2px solid #b2b2b2;
  height: 16px;
  width: 1180px;
  float: left;
  line-height: 16px; }
.shop_h2 .shop_all {
  float: left; }
.shop_h2 .self-support {
  background-color: #e60012;
  padding: 0px 3px;
  border-radius: 5px;
  float: left;
  color: #fff;
  margin-left: 10px; }
.shop_h2 .shopname {
  color: #333333;
  text-decoration: none;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px; }
.shop_h2 .shopcheap {
  color: #333;
  float: right;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  padding: 0 10px 0 0; }

.item_list a {
  color: #333; }

.item_list {
  float: left;
  border-left: 1px solid #fdf4f7;
  border-right: 1px solid #fdf4f7; }
.item_list .item_form {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  width: 100%; }
.item_list .item_form .info {
  float: left;
  padding: 18px 0; }
.item_list .item_form .s_sel {
  padding-top: 57px;
  text-align: center;
  width: 50px; }
.item_list .item_form .s_sel input {
  display: inline-block;
  vertical-align: middle; }
.item_list .item_form .s_info {
  width: 323px; }

.item_list .item_form .s_info .box_name{
  width: 223px;
}
.item_list .item_form .s_info .box_img {
  float: left;
  width: 80px;
  position: relative;
  height: 80px; }
.item_list .item_form .s_info .box_img img {
  width: 100%; }
.item_list .item_form .s_price {
  width: 165px;
  text-align: center; }
.item_list .item_form .s_price p {
  line-height: 12px; }
.item_list .item_form .s_sum {
  width: 150px;
  text-align: center; }
.item_list .item_form .s_sum strong {
  color: #c41f3a;
  font-size: 16px;
  font-weight: bold; }
.item_list .item_form .s_del {
  width: 95px;
  text-align: center; }
.item_list .item_form .s_del a {
  display: inline-block;
  height: 20px;
  color: #666;
  font-size: 13px; }

.item_list .item_form .s_num {
  padding-left: 63px;
  width: 100px;
  padding-right: 50px; }
.item_list .item_form .s_num input {
  font: 12px/20px Tahoma;
  color: #777;
  background-color: #FFF;
  vertical-align: middle;
  display: inline-block;
  height: 19px;
  padding: 2px 4px;
  border: solid 1px #CCC;
  outline: 0 none;
  text-align: center;
  width: 40px;
  float: left; }
.item_list .item_form .s_num a {
  background: #fff;
  border-bottom: 1px solid #e5e5e4;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  color: #999;
  display: block;
  float: left;
  font-size: 20px;
  height: 23px;
  line-height: 21px;
  text-align: center;
  width: 21px; }
.item_list .item_form .s_num .add {
  border-right: 1px solid #e5e5e5; }

.shop_price {
  height: 62px;
  width: 100%;
  overflow: hidden; }
.shop_price .out {
  border: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 0;
  height: 60px; }
.shop_price .out .sel_all {
  float: left;
  padding-left: 14px;
  padding-top: 20px; }
.shop_price .out .sel_all span {
  display: inline-block;
  vertical-align: middle; }

.sel_ok {
  float: right !important;
  display: inline; }
.sel_ok .sel_ok_num {
  float: left;
  width: 99px;
  font-size: 13px;
  color: #333;
  line-height: 60px; }
.sel_ok .sel_ok_num span {
  color: #c41f3a;
  padding: 0 4px;
  font-size: 16px;
  font-weight: bold; }
.sel_ok .sel_ok_num span em {
  font-family: Arial;
  font-size: 18px;
  color: #DF0010; }

.sel_price {
  color: #6b6b6b;
  float: left;
  line-height: 58px; }
.sel_price .sel_type {
  color: #333;
  font-size: 13px;
  padding-right: 30px; }
.sel_price .sel_type span {
  font-size: 18px;
  font-weight: bold;
  color: #DF0010; }
.sel_price .sel_type span em {
  font-size: 18px;
  font-weight: bold;
  color: #DF0010; }

.btn_buy {
  float: left; }
.btn_buy .a_btn_buy {
  color: #fff;
  display: block;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 110px;
  background: #DF0010; }

.footer_top {
  padding-top: 30px;
  padding-bottom: 40px; }
.footer_top .footer_6_list {
  float: left;
  width: 181px;
  text-align: center; }
.footer_top .footer_6_list i {
  color: #DF0010;
  font-size: 50px; }
.footer_top .footer_6_list .footer_6_p1 {
  color: #333;
  font-size: 17px;
  margin: 5px 0;
  font-weight: bold; }
.footer_top .footer_6_list .footer_6_p2 {
  color: #999;
  font-size: 15px; }

.footer_mid {
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #EAEAEA; }

.footer_mid_list {
  float: left;
  width: 900px;
  min-height: 152px; }
.footer_mid_list .help_list {
  float: left;
  padding: 0 50px 0 36px; }
.footer_mid_list .help_list h5 {
  color: #333;
  font-size: 17px;
  font-weight: normal;
  height: 31px; }
.footer_mid_list .help_list a {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px; }

.two_code {
  position: absolute;
  top: 40px;
  right: 40px; }
.two_code li {
  float: left;
  width: 100px;
  margin-right: 20px;
  text-align: center; }
.two_code li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px; }
.two_code li p {
  font-size: 14px;
  color: #666666; }

.footer_bottom {
  background-color: #262626; }
.footer_bottom .footer_nav {
  border-top: 3px solid #F31425;
  overflow: hidden;
  margin-top: 45px; }
.footer_bottom .footer_nav ul {
  margin-top: 22px; }
.footer_bottom .footer_nav ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px; }
.footer_bottom .footer_nav ul li a {
  font-size: 12px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 15px; }
.footer_bottom .footer_nav ul li .last_li {
  border: 0; }
.footer_bottom p {
  padding-top: 10px;
  text-align: center;
  color: #C8C8C8;
  line-height: 24px; }
.footer_bottom p a {
  color: #c8c8c8; }
.footer_bottom .footer_p {
  padding: 30px 0 40px 0; }

/*# sourceMappingURL=cart.css.map */
